body {
  min-width: 320px;
  max-width: 750px;
  width: 10rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}
.search-content {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 1.173333rem;
  background-color: #ffc001;
}
.search-content .classify {
  width: 0.586667rem;
  height: 0.933333rem;
  margin: 0.146667rem 0.333333rem 0.093333rem 0.32rem;
  background: url(../images/classify.png) no-repeat;
  background-size: 0.586667rem 0.933333rem;
}
.search-content .search {
  flex: 1;
}
.search-content .search input {
  border: 0;
  outline: none;
  border-radius: 0.44rem;
  background-color: #fff2cc;
  height: 0.88rem;
  margin-top: 0.133333rem;
  width: 100%;
  font-size: 0.333333rem;
  padding-left: 0.733333rem;
  padding-right: 0.733333rem;
  color: #757575;
}
.search-content .login {
  width: 1rem;
  height: 0.933333rem;
  margin: 0.133333rem;
  font-size: 0.333333rem;
  text-align: center;
  color: #fff;
  line-height: 0.933333rem;
}
.banner {
  width: 10rem;
  height: 4.906667rem;
}
.banner img {
  width: 100%;
  height: 100%;
}
.ad {
  display: flex;
}
.ad a {
  flex: 1;
}
.ad a:nth-child(1) {
  flex: 2;
}
.ad a img {
  width: 100%;
}
nav {
  width: 10rem;
}
nav a {
  float: left;
  width: 2rem;
  height: 1.866667rem;
  text-align: center;
}
nav a img {
  display: block;
  margin: 0.026667rem auto 0;
  width: 1.12rem;
  height: 1.12rem;
}
nav a span {
  display: block;
  text-align: center;
  color: #333;
  font-size: 0.293333rem;
}
